@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;

    background: radial-gradient(circle at top, #0a0a1a, #050510, #000008);
    overflow: hidden;
}

body::before {
    content: "";
    position: absolute;
    width: 450px;
    height: 450px;
    background: radial-gradient(circle, #7b2ff7cc 0%, transparent 70%);
    top: -80px;
    right: -70px;
    filter: blur(90px);
    z-index: 0;
}

body::after {
    content: "";
    position: absolute;
    width: 350px;
    height: 350px;
    background: radial-gradient(circle, #00e5ffcc 0%, transparent 70%);
    bottom: -60px;
    left: -60px;
    filter: blur(90px);
    z-index: 0;
}


section {
    position: relative;
    z-index: 2;
    width: 380px;
    padding: 45px 40px;

    background: rgba(255, 255, 255, 0.04);
    border-radius: 18px;
    border: 1px solid rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(25px);

    box-shadow: 0 0 35px rgba(0, 0, 0, 0.4),
                0 0 25px rgba(0, 229, 255, 0.08);
}

h1 {
    font-size: 26px;
    text-align: center;
    margin-bottom: 10px;

    background: linear-gradient(90deg, #00e5ff, #7b2ff7);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.inputbox {
    position: relative;
    width: 100%;
    margin: 28px 0;
}

.inputbox input {
    width: 100%;
    padding: 10px 5px;
    height: 45px;

    background: transparent;
    border: none;
    outline: none;

    border-bottom: 2px solid rgba(255,255,255,0.5);
    color: #fff;
    font-size: 1rem;

    transition: 0.3s ease;
}


.inputbox input:focus {
    border-bottom: 2px solid #00e5ff;
    box-shadow: 0 3px 12px rgba(0, 229, 255, 0.3);
}


.inputbox label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    pointer-events: none;

    color: rgba(255,255,255,0.8);
    transition: 0.4s ease;
}

.inputbox input:focus ~ label,
.inputbox input:valid ~ label {
    top: -8px;
    font-size: 0.85rem;
    color: #00e5ff;
}

button {
    width: 100%;
    height: 45px;

    margin-top: 10px;
    background: linear-gradient(90deg, #00e5ff, #7b2ff7);
    border: none;
    border-radius: 25px;
    cursor: pointer;

    color: #fff;
    font-weight: 600;
    font-size: 1rem;

    box-shadow: 0 0 12px rgba(0, 229, 255, 0.4);
    transition: 0.3s ease;
}

button:hover {
    box-shadow: 0 0 18px rgba(0, 229, 255, 0.7);
    transform: translateY(-2px);
}

#resetMessage {
    margin-top: 20px;
    text-align: center;
    color: #00e5ff;
    font-size: 0.9rem;
}

